 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="text-align:left">
					초등학교를 다니는 학생이 있다면 지나친 선행학습보다는 개성과 흥미를 고려한 프로젝트학습을 시켜보십시오. "미래를 여는 교육"은 학생들의 현재 상태에 맞추어 적절한 지도와 코칭을 통해 학생 개개인이 스스로 학습하고 나아가 가르칠 수 있게 합니다.
					</p>
                </div>
                <div class="col-lg-4">
                    <p style="text-align:left">
					나이와 상황을 고려해 학생 개개인에게 최선의 방향과 학습을 함께 고민하겠습니다. 최신의 구성주의 교육 이론에 따라 과정중심의 프로젝트 통합교육 과정을 두고 있습니다.
					</p>
                </div>
            </div>
        </div>
    </section>
