<!-- Page1 Section -->
    <section class="menupage" id="menupage1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>코딩</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<br>
                    <p>
						블록형 코딩부터 시작해서 텍스트코딩의 기초와 알고리즘을 가르칩니다. 
						코딩은 새로운 시대의 새로운 리터러시입니다. 미래를 살아야 할 아이들에게 코딩은 바르게 알아두어야 할 능력입니다.
					</p>
					<br>
                    <p>
						소프트웨어에 오픈소스 운동이 펼쳐질 때 마시모반지는 하드웨어까지 오픈소스화하였습니다. 
						그의 아두이노는 이제 피지컬컴퓨팅과 IoT 를 논할때 빠질 수 없는 존재가 되었습니다.
					</p>
					<br>
                    <p>
						영국에서 시작된 라즈베리파이는 개발도상국에 있는 아이들의 컴퓨터과학(Computer Science)을 위해 개발되었습니다. 초기모델이 20달러였고, 지금은 고급형과 저가형등 다양한 종류가 나옵니다. 라즈베리파이 제로는 5달러에 구입할 수 있습니다.
					</p>
                </div>
                <div class="col-lg-4">
						리누스 토발즈는 핀란드 헬싱키에서 태어났고, 리눅스라는 운영체제를 처음 만들고 공개합니다. 리처드 스톨만의 자유소프트웨어 재단과 함께 리눅스를 지금의 모습이 되기까지 발전시킵니다. 모두 공개되었고, 무료로 사용할 수 있습니다.
                </div>

            </div>
        </div>
    </section>
