<!-- Page1 Section -->
    <section class="menupage" id="menupage1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>코딩04</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>블록형 코딩부터 시작해서 텍스트코딩의 기초와 알고리즘을 가르칩니다. </p>
                </div>
                <div class="col-lg-4">
                    <p>창의성을 기르며 코딩속에  </p>
                </div>

            </div>
        </div>
    </section>
